
<div class="container mx-auto px-4 py-12 bg-gray-50">
  <h1 class="text-4xl font-extrabold mb-2 text-gray-900"><%= @title %></h1>
  <p class="text-xl text-gray-600 mb-12"><%= @description %></p>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8">
    <%= render partial: 'quiz_row', collection: @quizzes, as: :quiz %>
  </div>

  <div class="mt-12">
    <%= link_to "New Quiz", new_quiz_path, class: "#{btn_class} text-lg py-4 px-8" %>
  </div>
</div>
